<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <h5 class="text-left"><%= "Todas as faturas" %></h5>
      <div class="card-body" style="text-align:center;">
        <table class="table table-hover" style="font-size:13px">
            <tr>
              <th class="">Nº fatura</th>
              <th class="">Contrato</th>
              <th class="">Contratada</th>
              <th class="">Vigência</th>
              <th class="">Contagem detalhamento</th>
              <th class="">Observação</th>
              <th class="">Valor faturado R$</th>
              <th class="">Status</th>
            </tr>
            <% @invoices.each do |invoice| %>
              <tr>
                <td class=""><%= link_to "#{invoice.number  %></td>
                <td class=""><%= invoice.term.contract.number  %></td>
                <td class=""><%= invoice.term.contract.company  %></td>
                <td class=""><%= "#{invoice.term.date_start.strftime("%d/%m/%Y")} - #{invoice.term.date_end.strftime("%d/%m/%Y")}"  %></td>
                <td class=""><%= invoice.details.count  %></td>
                <td class=""><%= invoice.note   %></td>
                <td class=""><%= "R$ #{number_to_currency(invoice.details.sum(:value), separator: ',', delimiter: '.', unit: '')}" %></td>
                <td class=""><%= %></td>
              </tr>
            <% end %>
        </table>
        <br>
        <%= link_to "Página incial", root_path, class:"btn-custom-light" %>
        <%= link_to "Meus contratos", commissions_path, class:"btn-custom-light" %>
      </div>
    </div>
  </div>
</div>
<br>
