<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h5 class="text-left"><strong><%= "Detalhes faturamento" %></strong></h5>
      <div class="card-body">
        <table class="table table-hover">
            <tr>
              <th class="">Nº fatura</th>
              <th class="">Código do serviço</th>
              <th class="">CNPJ do contratante</th>
              <th class="">Referência</th>
              <th class="">Valor</th>
            </tr>
            <% @invoices.each do |invoice| %>
              <tr>
                <td class=""><%= invoice.number  %></td>
                <td class=""><%= invoice.service_code  %></td>
                <td class=""><%= invoice.cnpj_contractor  %></td>
                <td class=""><%= "#{invoice.term.date_start} - #{invoice.term.date_end}"   %></td>
                <td class=""><%= invoice.value  %></td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="container-md">
    <div class="row justify-content-end">
      <div class="col-sm-4">
      <div class="btn btn-info">
          <%= link_to "Todos os contratos", contracts_path %>
      </div>
      </div>
    </div>
  </div>
</div>
