<div class="container mt-5 card-board">
  <h4 class="text-left"><%= "Contratos" %></h4>
  <div class="row ml-5">
    <% @contracts.each do |contract| %>
      <div class="col-md-12 col-lg-6">
        <div class="card-contract my-4 mr-4">
          <div class="card-contract-infos">
              <h6> <%= link_to "Nº #{contract.number}", contract_path(contract) %></h6>
              <p id="text-color">Contratada: <%= contract.company %></p>
              <p><%= contract.cnpj_contractor %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class="">
    <p class='btn btn-info'><%= link_to 'Novo contrato', new_contract_path %></p>
  </div>
</div>
