<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="" id="">
        <h4>Novo contrato</h4>
          <div class="m-4">
            <%= simple_form_for @contract do |f| %>
              <%= f.input :number, label: 'Número do contrato', placeholder: '012021' %>
              <%= f.input :object, label: 'Objeto contratual', placeholder: 'Telefonia' %>
              <%= f.input :company, label: 'Nome da empresa contratada', placeholder: 'Companhia telefônica Ltda' %>
              <%= f.input :cnpj_contractor, label: 'CNPJ contratante', placeholder: '00000000000000' %>
              <%= f.input :cnpj_hired, label: 'CNPJ contratada', placeholder: '00000000000000' %>
              <%= f.input :cnpj_hired, label: 'CNPJ contratada', placeholder: '00000000000000' %>
              <%= f.button :submit, "Cadastrar contrato", class: "btn-primary" %>
            <% end %>
            <br>
          </div>
      </div>
        <div class="">
          <%= link_to 'Voltar', contracts_path %>
        </div>
    </div>
  </div>
</div>
