<span class="show-contract">
<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="">
        <h5 style="text-align:left"><%= "Detalhes contrato nº #{@contract.number}" %></h5><br>
        <ul class="list-group list-group-flush ">
        <%# Cabecalho dados contrato %>
        <li class="list-group-item"> <strong> <%= "Nº  #{@contract.number}" %> </strong>
        <%= link_to ' | editar contrato', edit_contract_path if current_user.admin? %></li>
          <li class="list-group-item"> Contratada: <%= @contract.company %></li>
          <li class="list-group-item"> Objeto: <%= @contract.object %></li>
          <li class="list-group-item"> CNPJ: <%= @contract.cnpj_hired %></li>
          <li class="list-group-item"> <strong> Vigência(s):</strong>
          <%# Cadastrar nova vigencia %>
          <%= link_to ' | cadastrar nova vigência', new_contract_term_path(@contract) %>
          <div class="m-3">
            <% if @contract.terms.present? %>
              <%# Listar cada vigencia e link editar vigencia %>
              <% @contract.terms.each do |term| %>
                <div class="">
                  <strong><i class="far fa-calendar-alt"></i><%="  #{term.date_start.strftime("%d/%m/%Y")} - #{term.date_end.strftime("%d/%m/%Y")}" %>
                  - <%= "R$ #{number_to_currency(@total_invoice, separator: ',', delimiter: '.', unit: '')}" %>
                  </strong>
                  <%= link_to ' | editar vigência', edit_term_path(term) %>
                  <%# Inserir fatura  %>
                  <%= link_to term_path(term) do %>
                    <%= " | acompanhamento da execução " %>
                    <i class="fas fa-cash-register"></i>
                  <% end %>
                  <% end %>

                  <% else %>
                    <p><em> Nenhuma vigência cadastrada. </em></p>
                  <% end %>
              </li>
              <%# Lista de fiscais do respectivo contrato %>
              <li class="list-group-item"> <strong>Equipe fiscalização:</strong>
              <div class="container-sm d-flex align-items-center">
                <div class="p-2">
                  <% if @contract.commissions.present? %>
                    <% sort_by_name = @contract.commissions.sort_by{ |commission| commission.user.full_name} %>
                    <% sort_by_name.each do |commission| %>
                      <ul><%= "#{commission.user.full_name}" %></ul>
                    <% end %>
                  <% else %>
                    <ul><em> Não informado. </em></ul>
                  <% end %>
                </div>
                  <%# Vincular fiscal ao contrato (admin) %>
                  <div class="p-2"><ul><%= render 'shared/form_commission' if current_user.admin? %></ul></div>
                    </li>
                    </ul>
                  </div>
                  <br><br>
                    <p class="" style="text-align:center">
                      <%= link_to 'Meus contratos', commissions_path, class:"btn-custom-light" %>
              </p><br>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</span>
