<div class="container-md mt-4">
  <h5>Detalhes do contrato</h5>
  <div class="row">
    <div class="col-12">
      <div class="card-body">
        <div class="col-12 col-lg-6">
            <ul class="list-group list-group-flush ">
            <%# Exibicao de dados do contrato %>
            <li class="list-group-item"><strong><%= "Contrato N°: #{@contract.number}" %></strong></li>
            <li class="list-group-item">Empresa contratada: <%= @contract.company %></li>
            <li class="list-group-item">Objeto: <%= @contract.object %></li>
            <li class="list-group-item">CNPJ Contratante: <%= @contract.cnpj_contractor %></li>
            <li class="list-group-item">CNPJ Contratada: <%= @contract.cnpj_hired %></li>
            <%# Comissao de fiscalizacao do respectivo contrato %>
            <li class="list-group-item">Comissão de fiscalização:
              <ul>
              <% if @commissions.present? %>
                <% @commissions.select do |commission| %>
                    <li><%= "#{commission.user.full_name} - #{commission.contract.number}" %></li></li>
                <% end %>
              <% else %>
                <p><em> Não informado. </em></p>
              <% end %>
              </ul>
              </ul>
              <ul>
              <%# Vincular fiscais ao contrato atual  %>
              <% if current_user.admin? %>
              <p class="btn btn-light"><%= link_to 'Editar contrato', edit_contract_path %></p>
                  <%= render 'shared/form_commission' %>
              <% end %>
              </ul>
              <%# <%= vincular term ao contrato %>
              <%= render 'shared/form_term' %>
          </div>
        </div>
        <%# Alternativas de navegacao %>
        <p class="btn btn-light"><%= link_to 'Voltar', contracts_path %></p>
      </div>
    </div>
  </div>
</div>
