<div class="container mt-4">
  <h5>Detalhes do contrato</h5>
  <div class="row">
    <div class="col-12">
      <div class="card-body">
        <div class="col-12 col-lg-6">
            <ul class="list-group list-group-flush ">
            <li class="list-group-item"><strong><%= "Contrato n. #{@contract.number}" %></strong></li>
            <li class="list-group-item">Empresa contratada: <%= @contract.company %></li>
            <li class="list-group-item">Objeto: <%= @contract.object %></li>
            <li class="list-group-item">CNPJ Contratante: <%= @contract.cnpj_contractor %></li>
            <li class="list-group-item">CNPJ Contratada: <%= @contract.cnpj_hired %></li>
            <li class="list-group-item">Comissão de fiscalização:
              <ul>
                <% commission_contract = @commissions.select do |commission| %>
                  <% if commission.present? %>
                    <li><%= "#{commission.user.full_name} - #{commission.contract.number}" %></li></li>
                  <% end %>
                <% end %>
              </ul>
              </ul>
              <ul>
                <%= render 'shared/form_commission' %>
              </ul>
          </div>
        </div>
        <p class="btn btn-light"><%= link_to 'Voltar', contracts_path %></p>
      </div>
    </div>
  </div>
</div>
