<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "https://www.gov.br/pt-br", class: "navbar-brand" do %>
    <%= image_tag "https://www.gov.br/++theme++padrao_govbr/img/govbr-logo-large.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div >

      <ul >
        <li class="list-bar">
          <a href="https://www.gov.br/pt-br/orgaos-do-governo" target="_blank">Órgãos do Governo</a>
        </li>
        <li class="list-bar">
          <a href="https://www.gov.br/acessoainformacao/pt-br" target="_blank">Acesso à Informação</a>
        </li>
        <li class="list-bar">
          <a href="http://www4.planalto.gov.br/legislacao" target="_blank">Legislação</a>
        </li>
        <li class="list-bar">
          <a href="https://www.gov.br/governodigital/pt-br/acessibilidade-digital" target="_blank">Acessibilidade</a>
        </li>
      </ul>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active mr-3" style="display:flex; align-items:center;">
          <%= "Saudações, #{current_user.full_name}!" %>
        </li>
        <li class="nav-item dropdown">
          <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= image_tag "checked_user_blue.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Página inicial", "/", class: "dropdown-item" %>
            <%= link_to "Ver contratos", "/contracts", class: "dropdown-item" %>
            <%= link_to "Novo contrato", "/contracts/new", class: "dropdown-item" %>
            <%= link_to "Faturas", "/invoices", class: "dropdown-item" %>
            <%= link_to "Análises", "/analysis", class: "dropdown-item" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item btn-sign">
          <i class="fas fa-user" aria-hidden="true"></i>
          <%= link_to "Entrar", new_user_session_path, class:"btn-sign" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
