<% if user_signed_in? %>
   <div class="container-md mt-5">
    <h4 style="color:#0c326f">Navegue por tarefa</h4>
    <p style="color:#555;">Encontre o serviço ou a informação desejada pelas opções abaixo:</p>
    <div class="row justify-content-center">
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="far fa-handshake"></i></h1>
          <h5><%= link_to 'Meus contratos', profile_path %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-file-invoice-dollar"></i></h1>
          <h5><%= link_to 'Faturas', invoices_path %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-file-csv"></i></i></h1>
          <h5><%= link_to 'Importar faturas', "#" %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-tasks"></i></h1>
          <h5><%= link_to 'Análises', analysis_path %></h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-plus-square"></i></i></h1>
          <h5><%= link_to 'Novo contrato', new_contract_path %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-users"></i></h1>
          <h5><%= link_to 'Cadastrar membro', "#" %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-file-signature"></i></i></h1>
          <h5><%= link_to 'Adicionar termos', "#" %></h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-home">
          <h1><i class="fas fa-book-reader"></i></h1>
          <h5><%= link_to 'Consultar legislações', "http://www4.planalto.gov.br/legislacao/", target:"_blank" %></h5>
        </div>
      </div>
    </div>
    <br>

<% else %>
  <div class="bg-img">
    <div class="text-block">
      <h3>Gestel Fácil</h3>
      <p>Desenvolvido pela Terceira Turma do Coding Bootcamp de
         Desenvolvimento Web da <b>Enap</b>, em parceria com a <b>Le Wagon</b>, visa facilitar
         a fiscalização de contratos de telefonia na Administração Pública.</p>
    </div>
  </div>
<% end %>
