<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h5 class="text-left"><%= "Meus contratos" %></h5>
      <br>
      <% @my_commissions.each do |commission| %>

        <div class="cards-profile mb-4">

          <table class="table table-hover">

          <tr>
          <td><%= link_to "Contrato n. #{commission.contract.number} | #{commission.contract.company}", contract_path(commission.contract)%>
          </tr>

          <tr>
          <% commission.contract.terms.each do |term| %>
          <td>
            <% invoices = term.invoices.uniq(&:number) %>
              <% invoices.each do |invoice| %>
                <p><%= link_to "Fatura n. #{invoice.number}", invoices_path %>
                <%= " | competência mês  #{invoice.date_invoice.strftime("%m")} |" %>
                  <%= link_to analysis_path do %>
                    <%= " |  Ver análise  " %>
                    <i class="fab fa-font-awesome-flag"></i></p>
                  <% end %>
              <% end %>
          </td>
          <% end %>
          </tr>

          </table>

        </div>
      <% end %>
    </div>
  </div>
</div>
