
<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h5 class="text-left"><%= "Meus contratos" %></h5>
      <br>
      <% @invoices_uniq_number.each do |invoice| %>
        <% @my_commissions.each do |commission| %>
        <div class="cards-profile mb-5">

          <table class="table table-hover">
          <tr>
          <th class="">Contrato</th>
          <th class="">
            <%= link_to "#{invoice.term.contract.number}", contract_path(commission.contract)%></th>
          <th class="">
            <%= commission.contract.company %></th>
          </tr>
          <tr>
          <td class="">  </td>
          <td class="">detalhamento ds fatura nº
          <%= link_to "#{invoice.number}", invoices_path %>

          <td class="">
          <%= link_to analysis_path do %>
          <p>Análises <i class="fas fa-tasks"></i></p>
          <% end %>
          </td>
          </tr>
          </table>

        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
