<div class="profile-page">
  <div class="container-md mt-5">
    <div class="row justify-content-center">
      <h5 class="text-left"><%= "Meus contratos" %></h5>
      <div class="col-sm-7">
        <br>
        <% @my_commissions.each do |commission| %>

          <div class="cards-profile mt-4">

            <table class="table table-hover">
            <td class="profile-ct">
            <ul class="profile-ct-ul">

            <%= link_to contract_path(commission.contract) do %>
              <%="  Contrato n. #{commission.contract.number} | #{commission.contract.company} " %>
              <i class="fas fa-handshake"></i></ul>
            <% end %>
            </td>

            <tr>
              <% commission.contract.terms.each do |term| %>
              <td class="profile-ft">
                <% invoices = term.invoices.uniq(&:number) %>
                  <% invoices.each do |invoice| %>
                    <ul class="profile-ft-ul">
                    <%= link_to invoices_path do %>
                      <%= "Fatura n. #{invoice.number}" %>
                      <i class="fas fa-file-alt"></i>
                    <% end %>

                    <%= " (competência mês  #{invoice.date_invoice.strftime("%m")}) |" %>
                      <%= link_to analysis_path do %>
                        <%= "análise automática" %>
                        <i class="fas fa-robot"></i>
                      <% end %>
                  <% end %>
              <% end %></ul>
            </td>
            </tr>

            </table>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
