<div class="profile-page">
  <div class="container-md mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <h5 style="text-align:center"><%= "Meus contratos" %></h5>
        <br>

        <ul style="text-align:end;margin-bottom:0">
          <%= link_to new_contract_path do %>
          <i class="fas fa-plus"></i> <span style="text-align:end;color:#1351B4;font-size:13px;"> Novo contrato</span>
          <% end %>
        </ul>

        <% Contract.all.each do |contract| %>
          <div class="cards-profile ">
            <table class="table table-hover">
            <td class="profile-ct">
            <ul class="profile-ct-ul">
            <%= link_to contract_path(contract) do %>
              <%="  Contrato n. #{contract.number} | #{contract.company} " %>
              <i class="fas fa-handshake"></i></ul>
            <% end %>
            </td>
            <tr>
              <% contract.terms.each do |term| %>
              <td class="profile-ft">
                <% invoices = term.invoices.uniq(&:number) %>
                <% invoices_sort_desc = invoices.sort_by{ |invoice| invoice.date_invoice }.reverse %>
                  <% invoices_sort_desc.each do |invoice| %>
                    <ul class="profile-ft-ul">
                    <%= link_to invoices_path do %>
                      <%= "Fatura n. #{invoice.number}" %>
                      <i class="fas fa-file-alt"></i>
                    <% end %>
                    <%= " (competência mês  #{invoice.date_invoice.strftime("%m")}) |" %>
                      <%= link_to analysis_path do %>
                        <%= "análise automática" %>
                        <i class="fas fa-robot"></i></ul>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
            </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</div>
