<!-- Contexto: invoices_uniq_number -->
  <% @my_commissions.each do |commission| %>
    <% commission.contract.terms.each do |term| %>
      <% invoices_uniq_number = term.invoices.uniq(&:number)%>
        <% invoices_uniq_number.each do |invoice| %>
<!-- Check -->
          <tr class="line">
            <td class="item" style="padding-left:25px;">2) O período de prestação de serviços está coberto pela vigência contratual?
            <% if invoice.date_invoice > invoice.term.date_start && invoice.date_invoice < invoice.term.date_end %>
              <p style="padding-left:25px;color:#007575;">Competência da fatura: 01/<%= invoice.date_invoice.strftime("%m/%Y") %>
                - 30/<%= invoice.date_invoice.strftime("%m/%Y") %>,
                Contrato: <%= invoice.term.date_start.strftime("%d/%m/%Y") %> - <%= invoice.term.date_end.strftime("%d/%m/%Y") %></p>
            <% else %>
              <p style="padding-left:25px;color:#9b2226;">Competência da fatura: 01/<%= invoice.date_invoice.strftime("%m/%Y") %>
                - 30/<%= invoice.date_invoice.strftime("%m/%Y") %>,
                Contrato: <%= invoice.term.date_start.strftime("%d/%m/%Y") %> - <%= invoice.term.date_end.strftime("%d/%m/%Y") %>
                Verifique se houve alteração contratual não registrada no sistema ou equívoco da contradada. Se confirmada a prestação
                 de serviços sem respaldo contratual, identifique a solução junto ao gestor do contrato e unidade de contratos.
                  Siga atento à data de vencimento!</p>
            <% end %>
            </td>
            <td class="result text-center" style="padding-left:25px;">
              <% if invoice.date_invoice > invoice.term.date_start && invoice.date_invoice < invoice.term.date_end %>
                <i class="fas fa-check"></i>
              <% else %>
                <i class="fas fa-exclamation-triangle"></i>
              <% end %>
            </td>
          </tr>
<!-- Contexto -->
    <% end %>
  <% end %>
<% end %>
