<!-- Contexto: invoices_uniq_service -->
        <% @my_commissions.each do |commission| %>
          <% commission.contract.terms.each do |term| %>
            <% invoices_uniq_service = term.invoices.uniq{ |invoice| [invoice.number, invoice.service_code] }  %>
              <!-- Contexto específico -->
              <% invoices_code_10538 = invoices_uniq_service.select{ |invoice| invoice.service_code == 10538} %>

<!-- Check -->
              <tr class="line">
                <td class="item" style="padding-left:25px;">5) Conferência de serviço de preço fixo:
                </td>
                <td></td>
              </tr>

              <tr class="line-subitem">
                <td class="subitem" style="padding-left:40px;"> 5.1) Identificação do serviço:
                 <% item_41 = term.items.find{ |item| item.item_number == 41} %>
                    <% invoices_code_10538.each do |invoice| %>
                    <% item_10538 = invoice.term.items.find_by(service_code: 10538) %>
                      <% if item_10538  %>
                      <p style="padding-left:25px;color:#007575;">Localizado:  <%= invoice.service_name.downcase %></p>

                      <% else %>
                      <p style="padding-left:25px;color:#9b2226;"> Não localizado.</p>
                      <% end %>
                </td>

                <td class="result text-center" style="padding-left:25px;">
                    <% if item_10538  %>
                      <li style="list-style-type: none"><i class="fas fa-check"></i></li>
                    <% else %>
                    <i class="fas fa-exclamation-triangle"></i>
                    <% end %>
                </td>

              </tr>
              <tr class="line-subitem" >
                <td class="subitem" style="padding-left:40px;"> 5.2) Avaliação da qtd de lançamentos na fatura:
                  <% if invoices_code_10538.count > item_10538.quantity   %>
                    <p style="padding-left:25px;color:#007575;">
                    <%= " Fatura = #{(item_10538.quantity)*12} | limite contratual mensal = #{item_10538.quantity}" %></p>
                    <% else %>
                    <p style="padding-left:25px;color:#9b2226;">
                    <%= " Fatura = #{(item_10538.quantity)*12} | limite contratual mensal = #{item_10538.quantity}" %></p>
                    <% end %>

                </td>


                <td class="result text-center" style="padding-left:25px;">
                    <% if invoices_code_10538.count > item_10538.quantity   %>
                      <li style="list-style-type: none"><i class="fas fa-check"></i></li>
                    <% else %>
                    <i class="fas fa-exclamation-triangle"></i>
                    <% end %>
                </td>
              </tr>
              <tr class="line-subitem" >
                <td class="subitem" style="padding-left:40px;"> 5.3) Conferência do valor cobrado:
                <% if invoice.value == item_41.price  %>
                <p class="text-color-blue" style="padding-left:25px;color:#007575;">Contrato (c):
                <%= "R$ #{number_to_currency(item_41.price, separator: ',', delimiter: '.', unit: '')}" %>  | Fatura (f): <%="R$ #{number_to_currency(invoice.value, separator: ',', delimiter: '.', unit: '')}" %>
                | diferença: (c - f) = <%= "R$ #{number_to_currency(item_41.price-invoice.value, separator: ',', delimiter: '.', unit: '')}"  %></p>
                <% else %>
                <p class="text-color-blue" style="padding-left:25px;color:#9b2226;">Contrato (c):
                <%= "R$ #{number_to_currency(item_41.price, separator: ',', delimiter: '.', unit: '')}" %>  | Fatura (f): <%="R$ #{number_to_currency(invoice.value, separator: ',', delimiter: '.', unit: '')}" %>
                | diferença: (c - f) = <%= "R$ #{number_to_currency(item_41.price-invoice.value, separator: ',', delimiter: '.', unit: '')}"  %></p>
                <% end %>

                </td>
                <td class="result text-center">
                    <% if invoice.value == item_41.price  %>
                      <i class="fas fa-check"></i>
                    <% else %>
                    <i class="fas fa-exclamation-triangle"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
<!-- Contexto -->
        <% end %>
      <% end %>
