<div class="container-md mt-4">
<meta charset="utf-8" />

  <div class="row justify-content-center">
    <div class="col-sm-10">
      <div class="card-body">
        <!-- Cabecalho -->
        <%= render 'header_report' %>

        <!-- Checklist -->
        <div class="card-body">
          <table class="table table-hover">
            <tr class="line-header">
              <th class="item-header">ITENS DA CONFERÊNCIA AUTOMÁTICA</th>
              <th class="result-reader text-center">RESULTADO</th>
            </tr>
          <!-- 1 -->
          <%= render 'cnpj' %>

          <!-- 2 -->
          <%= render 'competence' %>

          <!-- 3 -->
          <%= render 'services' %>

          <!-- 4 -->
          <%= render 'key_words' %>

          <!-- 5 -->
          <%= render 'fixed_price' %>
          <td></td>
          <td></td>
          <tr></tr>
        </table>
        </div>
      </div>
    </div>
    </table>
    <br>
    <br>

    </div>
</div>
<div class="container-md mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-2">
      <div class="card">

        <%= link_to 'Exportar relatório', analysis_path(format: :pdf), class:"btn-custom" %>


      </div>
          <br>    <br>    <br>
    </div>
  </div>
</div>
